<!DOCTYPE html>
<html>
<head>
	<title>Auctioneer</title>
</head>
<body>
<h1>Auction</h1>

{% extends 'base.html' %}

{% load static%}


	{% block content %}

		<div class="col-12" style="margin-top:10px;">
			<!-- <h1>Artifacts</h1> -->
			<ul>
			{% for post in posts %}
				<li>
					<div>
					    <span style="border-radius: 50%; background-color:pink; opacity:10%; height=40px; width:40px;">{{ post.name }}
					    	 <a href="{% url 'view_artifact' post.id %}">Bid</a>
					    </span>
					 	<img src="{{post.image.url}}"  style="height:70%; width:40%; margin-left:10px;border-radius: 40%;"><br>
					</div>
				</li>

			{% endfor %}
			</ul>
		</div>

	{% endblock %}
</body>
</html>
