<!DOCTYPE html>
<html>
<head>
	<title>Auctioneer</title>
</head>
<body>
<h1>Auction</h1>
{% extends 'base.html' %}

{% load staticfiles %}



	 {% block content %}
	<div class="col-12" style="margin-left:0px;">
		<ul>
		{% for post in posts %}
		    <li>{{ post.name }} <a href="{% url 'view_artifact' post.id %}">Bid</a></li>
		          <img src="{{post.image.url}}" style="height:70%; width:100%; margin-left:0px"class="img-responsive" ><br>
		{% endfor %}
	{% endblock %}
		</ul>
	</div>
</body>
</html>