
<!DOCTYPE html>
<html>
<head>
    <title>Auctioneer|post</title>
</head>
<body>


{% load static%}
{% load bootstrap4 %}


{% block content %}

    <div class="container">

        <!-- Create Post form -->
        <div class="col-md-8 col-lg-8">
   

            <!-- <form action="/post/artifact/" method="post">
                 {% csrf_token %}
                <input name="imageName"   type="text" placeholder="Name">
                <input name="description" type="text" placeholder="Description">
                <input name="price"       type="text" placeholder="Kshs 0.00">
                <input name="imageFile"  type="file" >
                <input type="submit" value="Upload Image" name="submit">
            </form> -->


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Upload</button>
                </form>

                <p><a href="{% url 'index' %}">Return to home</a></p>

        </div>
        <div class="col-12" style="margin-left:0px">
            <!-- <ul>
            {% for post in posts %}
                <li>{{ post.name }} <a href="{% url 'view_artifact' post.id %}">Bid</a></li>
                      <img src="{{post.image.url}}" style="height:70%; width:100%; margin-left:0px"class="img-responsive" ><br>
            {% endfor %}
            
            </ul> -->
        </div>

    </div>

{% endblock %}

</body>
</html>

