{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>single image</title>
</head>
<body>

    <div class="container">

        <div class="col-md-8 col-lg-8">
            <p>{{artifact.name}}</p>
            <img src="{{artifact.image.url}}" style="height:500px; width:800px; margin:10px" class="img-responsive" ><br>

            <form action="/comment/{{artifact.id}}/" method="post">
                {% csrf_token %}
                <input name="comment" type="text" placeholder="write your thought here">
                <input type="submit" value="Comment" name="submit"  class="btn btn-success">
            </form>
     <!--        <textarea rows="2" cols="20" name="comment" form="usrform" placeholder="Enter text here...">
            </textarea> -->
        </div>

		<div class="col-md-4 col-lg-4">
            <form action="/place/bid/{{artifact.id}}/" method="post">
            <!-- <form method="post" action="{% url 'place_bid' artifact.id %}"> -->
                {% csrf_token %}
                <input name="bid_price" type="text" placeholder="Kshs">
                <input type="submit" value="Place Bid" name="submit"  class="btn btn-success">
            </form>
        </div>

	</div>

</body>
</html>