{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>single image</title>
</head>
<body>

    <div class="container">

        <div class="col-md-8 col-lg-8">
            <p>{{artifact.name}}</p>
            <img src="{{artifact.image.url}}" style="height:20%; width:50%; margin-left:0px"class="img-responsive" ><br>
        </div>

		<div class="col-md-4 col-lg-4">
                <!-- <form action="/place/bid/{{artifact.id}}/" method="post"> -->
            <form method="post" action="{% url 'place_bid' artifact.id %}">
<!--             <form action="/place/bid/" method="post">
 -->                 {% csrf_token %}
                <input name="bid_price" type="text" placeholder="Kshs 0.00">
                <input type="submit" value="Place Bid" name="submit"  class="btn btn-success">
            </form>
        </div>

	</div>

</body>
</html>